
html, body {
    font-family: Proxima Nova;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    min-height: 560px;
    height: 560px;
    background-image: url('./assets/pexels-naim-benjelloun-2610756 11.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    position: relative;
}

.header-wrapper {
    margin-top: 32px;
    height: 100%;
}

.navbar-purple {
    background: linear-gradient(180deg, #4F57A6 0%, #8D54A2 100%);
    display: flex;
    justify-content: end;
}

.small-screen-navigation {
    display: none;
}

.big-screen-navigation {
    display: flex;
    justify-content: space-between;
}

.nav-items {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.nav-items a {
    color: white;

}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

.header-content > span {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    width: 75%;
}

.header-content h2 {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
    /* identical to box height */

    text-align: center;
}

.header-btn-group {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;


}

.header-button-left {
    width: 260px;
    height: 66px;
    background: #FFFFFF;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.header-button-left-title {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    /* modra */

    color: #4F57A6;
}

.header-button-left-subtitle {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;

    /* modra */

    color: #4F57A6;
}


.header-button-right {
    width: 260px;
    height: 66px;
    background: #FFFFFF;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-button-right-title {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    /* fialova */

    color: #8D54A2;
}

.header-button-right-subtitle {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;

    /* fialova */

    color: #8D54A2;
}

.blue-color {
    color: #4F57A6;
}

.blue-title {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 109.6%;
    /* identical to box height, or 33px */

    text-align: center;

    /* modra */

    color: #4F57A6;
}

.small-blue-title {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 109.6%;
    /* identical to box height, or 30px */


    /* modra */

    color: #4F57A6;

}

.text {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;

    /* siva text */

    color: #4F4F4F;
}

.text-non-align {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;

    /* siva text */

    color: #4F4F4F;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;
}

.mt-6 {
    margin-top: 65px;
}

.what-is-songoro-img {
    height: 100%;
    width: 100%;
    max-height: 301px;
    max-width: 561px;

}

.section3-title {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 109.6%;
    /* or 27px */

    display: flex;
    align-items: center;

    /* modra */

    color: #4F57A6;
}

.section3-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.section3-item .text {
    text-align: left;
}

.white-title {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 109.6%;
    /* identical to box height, or 33px */

    text-align: center;

    /* biela */

    color: #FFFFFF;
}

.white-subtitle {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 109.6%;
    /* identical to box height, or 30px */


    /* biela */

    color: #FFFFFF;
}

.white-text {
    /* popis kategorie */

    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;

    /* biela */

    color: #FFFFFF;
}


.bottom-section-1 {
    background: linear-gradient(180deg, #4F57A6 0%, #8D54A2 100%);
}

.main-content-section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 0 auto;
    margin-top: 30px;
}

.bottom-section-1-item {
    display: flex;
    margin-top: 20px;

}

.round-1 {
    background: #75C7CE;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    flex: none;
    margin-right: 50px;

}


.round-2 {
    background: #EBA721;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    flex: none;
    margin-right: 50px;

}

.round-3 {
    background: #B7CE27;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    flex: none;
    margin-right: 50px;

}

.round-4 {
    background: #E1EAF7;

    width: 55px;
    height: 55px;
    border-radius: 50%;
    flex: none;
    margin-right: 50px;

}

.bottom-section-2 {
    background-image: url('./assets/section2-bg.png');
    background-size: cover;
    padding-bottom: 30px;
}

.round-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 65px;
}

.round-content {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.layer1 {
    width: 176px;
    height: 176px;
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: transform 1s;
    transform: translateZ(0);
}

.layer2 {
    flex: none;
    width: 142px;
    height: 142px;
    border-radius: 50%;
    transition: transform 1s;
    transform: translateZ(0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.layer3 {
    flex: none;
    width: 113px;
    height: 113px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layer4 {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.layer1:hover {
    transform: rotate(90deg);
}

.layer2:hover {
    transform: rotate(90deg);
}


.item1-layer1 {
    border: 9px solid transparent;
    border-bottom-color: #59C5C7;;
}


.item2-layer1 {
    border: 9px solid transparent;
    border-bottom-color: #59C5C7;
    border-left-color: #59C5C7;;
}


.item3-layer1 {
    border: 9px solid transparent;
    border-bottom-color: #59C5C7;


}

.item3-layer2 {
    border: 9px solid transparent;
    border-top-color: #EBA721;

}


.item4-layer1 {
    border: 9px solid transparent;
    border-bottom-color: #59C5C7;
    border-left-color: #59C5C7;;
}

.item4-layer2 {
    border: 9px solid transparent;
    border-top-color: #EBA721;
    border-bottom-color: #B7CE27;
}

.item5-layer1 {
    border: 9px solid transparent;
    border-bottom-color: #59C5C7;
    border-top-color: #E1EAF7;
    border-right-color: #E1EAF7;
    border-left-color: #59C5C7;;
}

.item5-layer2 {
    border: 9px solid transparent;
    border-top-color: #EBA721;
    border-right-color: #EBA721;
    border-bottom-color: #B7CE27;
    border-left-color: #B7CE27;
}

.bottom-section-3 {
    background: black;
}

.footer-content {
    display: flex;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 209%;
    /* or 27px */


    /* footer/siva */

    color: #979797;
    width: 100%;
    justify-content: space-between;
}

.footer-content .white-subtitle {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;

    /* biela */

    color: #FFFFFF;
}


@media only screen and (max-width: 1025px) {
    .layer1 {
        width: 140px;
        height: 140px;
    }

    .layer2 {
        width: 120px;
        height: 120px;
    }

    .layer3 {
        width: 90px;
        height: 90px;
    }


}

@media only screen and (max-width: 850px) {

    .small-screen-navigation {
        display: flex;
        justify-content: end;
        min-width: 250px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 10;
    }

    .big-screen-navigation {
        display: none;
    }

    .footer-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
    }

    .footer-content > div {
        margin-top: 40px;
    }

}


@media only screen and (max-width: 650px) {
    header {
        height: 700px;
        min-height: 700px;
        background-repeat: repeat;
        background-size: auto;
    }

    .header-btn-group {
        flex-direction: column;
    }



    .section3-item {
        align-items: start;
    }


    .blue-title {
        font-size: 25px;
    }

    .small-blue-title {
        font-size: 22px;

    }


    .bottom-section-1-item {
        flex-direction: column;
    }

    .bottom-section-1-item .white-text {
        display: none;
    }

    .white-title {
        font-size: 25px;
    }

    .white-subtitle {
        font-size: 18px;
    }

    .round-1 {
        width: 85px;
        height: 8px;

        background: #75C7CE;
        border-radius: 53px;

        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 5px 0px;

    }

    .round-2 {
        width: 85px;
        height: 8px;
        background: #F6A216;
        border-radius: 53px;

        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 5px 0px;
    }

    .round-3 {
        width: 85px;
        height: 8px;
        background: #B7CE27;
        border-radius: 53px;

        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 5px 0px;

    }

    .round-4 {
        width: 85px;
        height: 8px;
        background: #E1EAF7;
        border-radius: 53px;

        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 5px 0px;
    }

    .round-content {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;

    }

    .layer1 {
        margin-top: 30px;
    }

    .item1-layer1 {
        display: none;
    }

    .footer-content {
        flex-direction: column;
    }
}

@media only screen and (max-width: 800px) {

    .section3-item {
        align-items: start;
    }

    .section3-item h5 {
        margin-left: 30px;
    }


    .text {
        text-align: left;
    }
}
